.event-column {
  float: left;
  width: 20%;
  margin-left: 10%;
}

.animation-column {
  float: right;
  width: 60%;
  margin-right: 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.table-column-event-id {
    width: 60%;
}

.table-column-time {
    width: 30%;
}

.table-column-manhole-id {
    width: 10%;
}
